<div class="header">
  <button mat-icon-button (click)="onCancel()" class="back-btn">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2 class="title">Créer un nouvel article</h2>
</div>

<form #articleForm="ngForm" class="article-form">

<mat-form-field appearance="outline" style="width: 100%">
  <mat-label>Sélectionner un théme</mat-label>
  <mat-select name="theme" [(ngModel)]="article.themeId" required>
    <mat-option *ngFor="let t of themes" [value]="t.id">{{ t.name }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" style="width: 100%">
  <mat-label>Titre de l'article</mat-label>
  <input matInput name="title" [(ngModel)]="article.title" required>
</mat-form-field>

<mat-form-field appearance="outline" style="width: 100%">
  <mat-label>Contenu de l'article</mat-label>
  <textarea matInput name="content" [(ngModel)]="article.content" rows="5" required></textarea>
</mat-form-field>
  <!-- Bouton Créer centré -->
  <div class="actions">
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!articleForm.form.valid">
      Créer
    </button>
  </div>

</form>
