<button class="back-button" (click)="goBack()">← Retour</button>

<div class="header-title">
  Gestion de l'utilisateur
</div>
<hr class="divider" />

<div *ngIf="loading">Chargement en cours...</div>
<div *ngIf="error">Erreur lors du chargement des informations utilisateur.</div>

<form class="profile-form">
  <div class="form-group">
    <label for="email">Email</label><br />
    <input id="email" type="email" [(ngModel)]="email" name="email" />
  </div>

  <div class="form-group">
    <label for="username">Nom d'utilisateur</label><br />
    <input id="username" type="text" [(ngModel)]="username" name="username" />
  </div>

  <div class="form-group">
    <label for="password">Mot de passe</label><br />
    <input id="password" type="password" [(ngModel)]="password" name="password" placeholder="••••••••" />
  </div>

  <button (click)="updateProfile()">Sauvegarder</button>
  <div *ngIf="successMessage" class="message success">{{ successMessage }}</div>
<div *ngIf="errorMessage" class="message error">{{ errorMessage }}</div>
</form>

<hr>

<label class="section-label">Abonnements</label>

<div *ngIf="subscribedThemes.length > 0; else noSubs" class="themes-container">
  <mat-card *ngFor="let theme of subscribedThemes" class="theme-card">
    <mat-card-header>
      <mat-card-title>{{ theme.name }}</mat-card-title>
      <mat-card-subtitle class="header-info">
        Abonné : Oui
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ theme.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button 
        class="unsubscribe-button subscribed" 
        (click)="toggleSubscription(theme)">
        Se désabonner
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #noSubs>
  <p>Aucun abonnement actuellement.</p>
</ng-template>