<br><br>
<div class="create-article-wrapper">
  <button mat-raised-button color="primary" #createArticleBtnEl (click)="CreateArticle()">
    Créer un article
  </button>
</div>

<div class="articles-header">
  <button class="sort-button" (click)="toggleSortOrder()">
   Trier par : {{ sortAsc ? '↑' : '↓' }}
  </button>
</div>

<div class="articles-container">
  <mat-card *ngFor="let article of articles" class="article-card" (click)="openArticleDetail(article)">
    <mat-card-header>
      <mat-card-title>{{ article.title }}</mat-card-title>
      <mat-card-subtitle class="header-info">
        <span class="date">{{ article.createdAt | date:'short' }}</span>
        <span class="author">{{ article.authorName }}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ article.content }}</p>
    </mat-card-content>
  </mat-card>
</div>